/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-p */
@import "../3rd-party/font-awesome.min.css";

/* components */
@import "../components/button.css";
@import "../components/clock.css";
@import "../components/form.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";
/* customs */

/* HERO -start */
section.bg-main {
    background-image: url(../../img/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
.hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.hero > .logo {
    height: 60px;

}
.hero > .title {
    font-size: 70px;
    text-transform: uppercase;
}
.hero > .description {
    font-size: 20px;

}
.subscribe{
    flex-direction: column;
    width: 85%;
    align-items: center;
}
.form.subscribe > input {
    width: 100%;
    background-color: transparent;
    color: #fff; 
    border-color: #fff;
}
.form.subscribe > ::placeholder {
    color: #fff;
}
/* HERO - end */

/* MAIN - start */
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}
.right-column{
    width: 40%;
}
.section-title{
    font-size: 20px;
    text-transform: uppercase;
}
.section-description{
    font-size: 18px;
    color: #777;

}
.section-description > a{
    text-decoration: none;
    color: red;
}
.section-description > a:hover{
    text-decoration: underline;
}
/* MAIN - end */

/* FOOTER - start */
footer.container {
    padding-top: 0;
}
.socialas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 2px solid #fff;
}
.socialas > a{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    transition: all 1s;
}
.socialas > a:hover{
    background-color: #fff;
    color: var(--main-color);

}

.footer-bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
}
.footer-bottom > .futeriukai{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footer-bottom > .logo{
    height: 60px;
    margin: 40px 0;

}
.footer-bottom a{
    color: #fff;
}
.futeriukai > * {
    position: relative;
}
.futeriukai > *::after{
    display: inline-block;
    content: '';
    width: 0.65px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translate(50%, -50%);
}
.futeriukai > *:last-child::after{
    display: none;
    
}


/* FOOTER - end */
@media (max-width: 700px){
    .main-content{
        flex-direction: column;
        
    }
    .column{
        width: 100%;
    }
    .right-column{
        width: 100%;
    }
}
@media (min-width: 1100px) {
    .form > input{
        width: calc(50% - 10px);
    }
}